<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-button
        expand="full"
        full="outline"
        size="large"
        shape="round"
        (click)="scan()"
      >
        Scanneando Qr
      </ion-button>
      <ion-label>
        Hola kevin como te va que hjaces
      </ion-label>
      <ion-label>
        kevin chacha 29 @yahoo.com
      </ion-label>
      <ion-label>
        ash!!!!
      </ion-label>
      <ion-label>
        Hola luis como te va espero que bien !!!!
      </ion-label>
      <ion-label>
        loren ahi voy !!!!
      </ion-label>
      <ion-label>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis vel
        iusto, expedita aliquam assumenda repellat, amet sequi excepturi
        incidunt pariatur eligendi sunt alias veniam, ex id ab eaque. Voluptas,
        eveniet!
      </ion-label>
    </ion-slide>
  </ion-slides>
</ion-content>
